
figure {
  display: inline-block;
  font-family: $primary-font;
  font-weight: $secondary-font-weight;
  color: $grey-tertiary-color;
  margin: 20px; 
}

figure img {
  vertical-align: top;
  max-width: 960px;
}

.image-container {
  margin-top: 65px;
}
