.description {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 90px;
}

.description-title {
  color: $light-primary-color;
}

.description-paragraph {
  font-family: $primary-font;
  font-size: $secondary-font-size;
  color: $light-primary-color;
  font-weight: $normal-font-weight;
  width: 625px;
}

.description-anchor {
  font-family: $primary-font;
  font-size: $secondary-font-size;
  font-weight: $normal-font-weight;
  color: $light-primary-color;
  line-height: 44px;
  width: 316px;
  border: solid 1px $light-primary-color;
  text-align: center;
  margin-top: 70px;

  &:hover {
    color: darken( $light-primary-color, 20% );
  }
}
