.description {
  display: flex;
  flex-direction: column;
  // padding: rem-calc(108, 562, 92, 154);
  padding-top: rem-calc(108);
  padding-right: rem-calc(562);
  padding-bottom: rem-calc(92);
  padding-left: rem-calc(154);
}

.description-title {
  font-family: $primary-font;
  font-size: $title-font-size;
  color: $light--primary-font-color;
  font-weight: $primary-font-weight;
}

.description-paragraph {
  font-family: $secondary-font;
  font-size: $tertiary-font-size;
  color: $light--primary-font-color;
  font-weight: $normal-font-weight;
}

.description-anchor {
  font-family: $secondary-font;
  font-size: $secondary-font-size;
  font-weight: $normal-font-weight;
  color: $light--primary-font-color;
  line-height: 44px;
  width: 316px;
  border: solid 1px $light--primary-font-color;
  text-align: center;
  margin-top: 70px;
}