.data-table-container {
  margin-top: 60px;
}

.data-section {
  margin-left: 100px;
}

.data-title {
  font-family: $primary-font;
  font-size: 24px;
  font-weight: $secondary-font-weight;
  color: $blue-secondary-color;
  margin-left: 100px;
}

.data-subtitle {
  font-family: $primary-font;
  font-size: $secondary-font-size;
  font-weight: $normal-font-weight;
  color: $grey-quinary-color;
  margin-bottom: 50px;
  width: 480px;
  margin-left: 100px;
}

.data-table-header-container {
  border-bottom: 1px solid $light-tertiary-color;
  height: 40px;
  background-color: $light-secondary-color;
}

.data-table-value {
  font-family: $primary-font;
  font-size: $medium-font-size;
  font-weight: $normal-font-weight;
  line-height: 1.54;
  color: $grey-tertiary-color;
  vertical-align: top;
}

tr.data-table-header-container>th:last-child, tr>td:last-child {
  padding-right: 20px;
  padding-left: 0px !important;
  border-left:1px solid $light-primary-color;
  border-right:1px solid $light-tertiary-color;
}

tr>td:l:nth-last-child(2) {
  border-right:1px solid $light-primary-color;
}

tr.data-table-header-container>th:nth-last-child(2) {
  border-right:1px solid $light-secondary-color;
}

tr.data-table-header-container>th:first-child, tr>td:first-child {
  padding-left: 20px;
}

table, th, td {
  border-left: 1px solid $light-tertiary-color;
  border-top: 1px solid $light-tertiary-color;
  border-bottom: 1px solid $light-tertiary-color;
}

table>tr:not(:first-child)>td:nth-last-child(2) {
  padding-right: 0;
  padding-left: 16px;
}

table>tr:not(:first-child)>td:nth-last-child(3) {
  word-wrap: none;
  padding-right: 0;
}

table>tr:not(:first-child)>td:nth-last-child(5) {
  width: 100px;
}

table#hazard-datasets>tr:not(:first-child)>td:first-child {
  width: 200px;
  padding-right: 0;
}

tr>td:first-child, tr>th:first-child  {
  padding-right: 30px;
}

.data-table-th {
  padding-top: 13px;
  padding-bottom: 9px;
  padding-left: calc(0.15vw + 15px);
  text-align: left;
}

.data-table-cell {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: calc(0.15vw + 15px);
  padding-right: calc(0.15vw + 15px);
  text-align: left;
}

#exposure-datasets tr.data-table-header-container>th:first-of-type, #exposure-datasets tr:not(:first-child)>td:first-of-type {
  padding-left: 20px;
  width: 300px;
}

#loss-datasets tr.data-table-header-container>th:first-of-type, #exposure-datasets tr:not(:first-child)>td:first-of-type {
  padding-left: 20px;
  width: 250px;
}

.data-table-image {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  text-align: right;
}

.data-table-header {
  font-weight: $secondary-font-weight;
  font-family: $primary-font;
  font-size: $extra-small-font-size;
  color: $grey-tertiary-color;
  vertical-align: bottom;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.table-header-redirect {
  line-height: 1.54;
  color: $blue-primary-color;
}

.table-download-link {
  max-width: 15px;
}

.data-table-margin-bottom {
  margin-bottom: 60px;
}

a.table-dialog-download-link {
  color: $grey-senary-color;

  &:hover {
    color: $blue-primary-color;
  }
}

svg {
  width: 22px;
  height: 22px;
}

svg:hover circle { 
  fill: $blue-primary-color!important;
}

.table-dialog {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.table-dialog-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

// The actual dialog
.table-dialog .table-dialog-text {
  visibility: hidden;
  width: 147px;
  height: 72px;
  background-color: $light-primary-color;
  color: $grey-senary-color;
  border: solid 1px $light-tertiary-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -140%;
  margin-left: -80px;
}

// Popup dialog arrow
.table-dialog .table-dialog-text::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  width: 10px;
  height: 10px;
  bottom: -14%;
  left: 74%;
  box-sizing: border-box;
  border: 1px solid $light-tertiary-color;
  border-color: transparent transparent $light-tertiary-color $light-tertiary-color;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: -2px 2px 2px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
}

// Toggle this class - hide and show the dialog
.table-dialog .show {
  visibility: visible;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
