.data-table-container {
  margin-top: 60px;
}

.data-title {
  font-family: $primary-font;
  font-size: 24px;
  font-weight: $secondary-font-weight;
  color: $blue-secondary-color;
}

.data-subtitle {
  font-family: $primary-font;
  font-size: $secondary-font-size;
  font-weight: $normal-font-weight;
  color: $grey-quinary-font-color;
  margin-bottom: 50px;
  width: 480px;
}

.data-table-header-container {
  border-bottom: 1px solid $grey-secondary-font-color;
  height: 40px;
  background-color: $grey-table-font-color;
}

.data-table-value {
  font-family: $primary-font;
  font-size: $medium-font-size;
  font-weight: $normal-font-weight;
  line-height: 1.54;
  color: $grey-tertiary-font-color;
  vertical-align: top;
}

tr.data-table-header-container>th:last-child, tr>td:last-child {
  padding-right: 20px;
  padding-left: 0px !important;
  border-left:1px solid $light-primary-font-color;
  border-right:1px solid $light-tertiary-color;
}

tr>td:l:nth-last-child(2) {
  border-right:1px solid $light-primary-font-color;
}

tr.data-table-header-container>th:nth-last-child(2) {
  border-right:1px solid $grey-table-font-color;
}

tr.data-table-header-container>th:first-child, tr>td:first-child {
  padding-left: 20px;
}

table, th, td {
  border-left: 1px solid $light-tertiary-color;
  border-top: 1px solid $light-tertiary-color;
  border-bottom: 1px solid $light-tertiary-color;
}

table>tr:not(:first-child)>td:nth-last-child(2) {
  padding-right: 0;
  padding-left: 16px;
}

table>tr:not(:first-child)>td:nth-last-child(3) {
  word-wrap: none;
  padding-right: 0;
}

table>tr:not(:first-child)>td:nth-last-child(5) {
  width: 100px;
}

table#hazard-datasets>tr:not(:first-child)>td:first-child {
  width: 200px;
  padding-right: 0;
}

tr>td:first-child, tr>th:first-child  {
  padding-right: 30px;
}

.data-table-th {
  padding-top: 13px;
  padding-bottom: 9px;
  padding-left: calc(0.15vw + 15px);
  text-align: left;
}

.data-table-cell {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: calc(0.15vw + 15px);
  padding-right: calc(0.15vw + 15px);
  text-align: left;
}

#exposure-datasets tr.data-table-header-container>th:first-of-type, #exposure-datasets tr:not(:first-child)>td:first-of-type {
  padding-left: 20px;
  width: 300px;
}

#loss-datasets tr.data-table-header-container>th:first-of-type, #exposure-datasets tr:not(:first-child)>td:first-of-type {
  padding-left: 20px;
  width: 250px;
}

.data-table-image {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  text-align: right;
}

.data-table-header {
  font-weight: $secondary-font-weight;
  font-family: $primary-font;
  font-size: $extra-small-font-size;
  color: $grey-tertiary-font-color;
  vertical-align: bottom;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.table-header-redirect {
  line-height: 1.54;
  color: $blue-primary-color;
}

.table-download-link {
  max-width: 15px;
}

.data-table-margin-bottom {
  margin-bottom: 60px;
}
