.data-title {
  font-family: $primary-font;
  font-size: $quaternary-font-size;
  font-weight: $secondary-font-weight;
  color: $purple-primary-font-color;
  padding-bottom: 57px;
  padding-top: 91px;
}

.table-header-title {
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: bold;
  color: $dark-secondary-font-color;
}

#hazard-datasets, #exposure-datasets, #vulnerability-datasets, #loss-datasets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.table {
  background-color: $light-grey-background;
  padding: 13px 19px 19px;
  margin-bottom: 23px;
}

.table-header, .table-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-header {
  border-bottom: 1px solid $divider-lines;
}

.table-header-redirect {
  font-weight: $secondary-font-weight;
  color: $grey-secondary-font-color;
  margin-right: 48px;
}

.table-header-download, .table-value, .table-subtitle, .table-header-redirect {
  font-family: $secondary-font;
  font-size: $small-font-size;
}

.table-cell {
  padding-top: 21px;
}

.table-header-download {
  font-weight: $secondary-font-weight;
  color: $purple-tertiary-font-color;
}

.table-value, .table-subtitle  {
  font-weight: $normal-font-weight;
}

.table-value {
  color: $dark-secondary-font-color;
}

.table-subtitle {
  color: $grey-tertiary-font-color;
}