<div class="purpose">
  <div class="purpose-left">
    <h3 class="purpose-title">The purpose</h3>
    <p class="purpose-subtitle">Better data management for disaster risk assessments</p>
  </div>
  <div class="purpose-right">
    <p class="purpose-paragraph">
      Introducing Dummy text from here. To frequency some creating who explain they'd makes deep to it find upon mind to and made dense, divine and in someone harmonics. Problem in if answer folks the if furnished the stupid an interesting.
    </p>
    <a href="" class="purpose-link">Learn more about the project →</a>
  </div>
</div>