.schema-page-image {
  & div.logos-container:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

.logos-container {
  margin: 0 40px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;

  & .individual-logo-container:not(:last-of-type) {
    margin-right: 45px;
  }
}

.individual-logo-container {
  width: 290px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  & a {
    align-self: center;
    margin-bottom: 20px;
  }

  & figcaption {
    text-align: center;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.logo-image {
  align-self: flex-end;
  width: 204px;
}