.schema-page-image {
  & div.logos-container:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

.logos-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.individual-logo-container {
  width: $primary-width;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  & a {
    align-self: center;
    margin-bottom: 20px;
  }

  & figcaption {
    text-align: start;
    line-height: $primary-line-height;
    font-size: $primary-font-size;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.logo-image {
  align-self: flex-end;
  width: 204px;
}