//light
$light-primary-font-color: #ffffff;
$light-secondary-font-color: #f5f5f5;
$light-tertiary-color: #e6e6e6;

//dark
$dark-primary-font-color: #202020;

//grey
$grey-primary-font-color: #757575;
$grey-secondary-font-color: #e6e6e6;
$grey-tertiary-font-color: #4d4d4d;
$grey-quaternary-font-color: #333333;
$grey-quinary-font-color: #808080;
$grey-table-font-color: #f5f5f5;


//blue
$blue-primary-color: #239CE8;
$blue-secondary-color: #0b3860;
