// background colours
$section-headers: #4D4D4D;
$links-color:#239CE8;
$grey-links: #b3b3b3;
$dark-text-headlines:#202020;
$light-text-body-copy: #757575;
$divider-lines:#ebebeb;
$dark-divider-lines: #808080;
$light-grey-background:#fafafa;
$footer-background: #f5f5f5;

// text colours
$light-primary-font-color: #ffffff;
$light-secondary-font-color: #e3e3e3;

$dark-primary-font-color: #202020;
$dark-secondary-font-color: #000000;

$purple-primary-font-color: #550052;
$purple-secondary-font-color: #83067f;
$purple-tertiary-font-color: #8a1486;

$grey-primary-font-color: #757575;
$grey-secondary-font-color: #666666;
$grey-tertiary-font-color: #878787;
$grey-quaternary-font-color: #979797;
$grey-quinary-font-color: #4d4d4d;

$reusable-component-title-color: #333333;
$reusable-subtitle-color: #808080;