// background colours
$section-headers: #550052;
$links:#83067f;
$dark-text-headlines:#202020;
$light-text-body-copy: #757575;
$divider-lines:#ebebeb;
$light-grey-background:#fafafa;

// text colours
$light--primary-font-color: #ffffff;
$light-secondary-font-color: #e3e3e3;

$dark-primary-font-color: #202020;
$dark-secondary-font-color: #000000;

$purple-primary-font-color: #550052;
$purple-secondary-font-color: #83067f;
$purple-tertiary-font-color: #8a1486;

$grey-primary-font-color: #757575;
$grey-secondary-font-color: #666666;
$grey-tertiary-font-color: #878787;