@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;600;800&display=swap');

$primary-font: 'SourceSansPro', sans-serif;

$primary-font-weight: 800;
$secondary-font-weight: 600;
$tertiary-font-weight: 500;
$normal-font-weight: normal;

$extra-small-font-size: rem-calc(11);
$small-font-size: rem-calc(12); 
$medium-font-size: rem-calc(13);
$primary-font-size: rem-calc(16); 
$secondary-font-size: rem-calc(18); 
$tertiary-font-size: rem-calc(20); 
$paragraph-font-size: rem-calc(21); 
$quaternary-font-size: rem-calc(31); 
$quinary-font-size: rem-calc(44); 
$title-font-size: rem-calc(36); 

$primary-opacity: 1;
$secondary-opacity: 0.75;


// common fonts
.reusable-font-semi-bold {
  font-family: $primary-font;
  font-weight: $secondary-font-weight;
}

.reusable-font-regular {
  font-family: $primary-font;
  line-height: 1.56;
  font-weight: $normal-font-weight;
}

h1.main-title {
  font-family: $primary-font;
  font-size: $title-font-size;
  font-weight: $secondary-font-weight;
  margin-bottom: 10px;
}

h3.subtitle {
  font-family: $primary-font;
  font-weight: $secondary-font-weight;
  color: $reusable-title-color;
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 60px;
}

h4.reusable-title {
  font-size: 24px;
  color: $reusable-title-color;
  margin-top: 0;
}

p.subtitle-description {
  font-family: $primary-font;
  font-size: $secondary-font-size;
  font-weight: $normal-font-weight;
  color: $grey-quinary-font-color;
  line-height: 1.56;
  width: 625px;
}

p.reusable-subtitle {
  font-size: $secondary-font-size;
  color: $reusable-subtitle-color;
}

div.reusable-content {
  font-size: $primary-font-size;
  color: $grey-quinary-font-color;
  margin-bottom: 40px;

  &> :first-child {
    padding-top: 6px;
  }
}

p.details-subtitle {
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $grey-primary-font-color;
}

p.details-content {
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $dark-primary-font-color;
}