@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$primary-font: 'Manrope', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$primary-font-weight: 800;
$secondary-font-weight: 600;
$tertiary-font-weight: 500;
$normal-font-weight: normal;

$primary-font-size: 1.125rem; //18px