@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$primary-font: 'Manrope', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$primary-font-weight: 800;
$secondary-font-weight: 600;
$tertiary-font-weight: 500;
$normal-font-weight: normal;

$primary-font-size: rem-calc(16); 
$secondary-font-size: rem-calc(18); 
$tertiary-font-size: rem-calc(20); 
$quaternary-font-size: rem-calc(31); 
$quinary-font-size: rem-calc(44); 
$title-font-size: rem-calc(50); 

$primary-opacity: 1;
$secondary-opacity: 0.75;