@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$primary-font: 'Manrope', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$primary-font-weight: 800;
$secondary-font-weight: 600;
$tertiary-font-weight: 500;
$normal-font-weight: normal;

$extra-small-font-size: rem-calc(11);
$small-font-size: rem-calc(12); 
$medium-font-size: rem-calc(13);
$primary-font-size: rem-calc(16); 
$secondary-font-size: rem-calc(18); 
$tertiary-font-size: rem-calc(20); 
$paragraph-font-size: rem-calc(21); 
$quaternary-font-size: rem-calc(31); 
$quinary-font-size: rem-calc(44); 
$title-font-size: rem-calc(50); 

$primary-opacity: 1;
$secondary-opacity: 0.75;


// common fonts
h1.main-title {
  font-family: $primary-font;
  font-size: $title-font-size;
  font-weight: $primary-font-weight;
}

h3.subtitle {
  font-family: $primary-font;
  font-weight: $secondary-font-weight;
  color: $reusable-component-title-color;
}

h4.reusable-title {
  font-family: $primary-font;
  font-size: $quaternary-font-size;
  color: $reusable-component-title-color;
}

p.subtitle-description {
  font-family: $secondary-font;
  font-size: $secondary-font-size;
  font-weight: $normal-font-weight;
  color: $grey-quinary-font-color;
  width: 625px;
}

p.reusable-subtitle {
  font-family: $primary-font;
  font-size: rem-calc(19);
  font-weight: $normal-font-weight;
  color: $reusable-subtitle-color;
}

div.reusable-content {
  font-family: $secondary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $grey-quinary-font-color;
  margin-bottom: 20px;
}

p.details-subtitle {
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $grey-primary-font-color;
}

p.details-content {
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $dark-primary-font-color;
}