@import "colors";
@import "mixins";
@import "fonts";

// landing page
@import "header/main";
@import "summary/main";
@import "instructions/main";
@import "review-questions/main";
@import "documentation/main";
@import "document/main";
@import "datasets/main";
@import "schemas/main";

// home
@import "navigation/main";
@import "description/main";
@import "purpose/main";
@import "components/main";
@import "component/main";

// data
@import "data/main";

// data details
@import "dataDetails/main";

//footer
@import "footer/main";

body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: $section-headers;
}

.top-container {
  background-color: $section-headers;
}

.middle-container {
  background-color: $light-grey-background;
  padding-right: rem-calc(169);
  padding-left: rem-calc(154);
}

.page-container {
  padding-right: rem-calc(169);
  padding-left: rem-calc(154);
  margin-top: 91px;
}

.page-container-title {
  color: $purple-primary-font-color;
  margin-bottom: 57px;
}

.page-container-content>p {
  font-family: $primary-font;
  font-size: $paragraph-font-size;
  font-weight: $normal-font-weight;
  color: $dark-primary-font-color;
}

.landing-top-container {
  background-color: $light--primary-font-color
}

.container-wrapper {
  max-width: 1200px;
}

a.link {
  font-family: $secondary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $purple-secondary-font-color;
}

#data-details {
  min-height: 500px;
}

#hazard-datasets, #exposure-datasets, #loss-datasets, #vulnerability-datasets {
  min-height: 200px;
}
