@import "colors";
@import "mixins";
@import "fonts";
@import "navigation/main";
@import "description/main";
@import "purpose/main";
@import "components/main";
@import "component/main";
@import "datasets/main";

body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: $section-headers;
}

.top-container {
  background-color: $section-headers;
}

.middle-container {
  background-color: $light-grey-background;
  padding-right: rem-calc(169);
  padding-left: rem-calc(154);
}

pre {
  white-space: pre-wrap;
}