@import "colors";
@import "mixins";
@import "fonts";

// landing page
@import "first-section/main";
@import "documentation/main";
@import "datasets/main";

// TODOS: Potential future requests
// @import "schemas/main";

// homepage
@import "navigation/main";
@import "description/main";
@import "purpose/main";
@import "components/main";
@import "component/main";
@import "supporting-organisations/main";

// schema page
// database, resources & project pages share the same css as schema page
@import "schema-page/main";

// data page
@import "data/main";

// data details page
@import "dataDetails/main";

//footer
@import "footer/main";


// common or reusable css across whole site
body {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0!important;
}

h4, h2 {
  margin-bottom: 0!important;
}

article, section {
  min-height: 100vh;
}

.navbar {
  background-color: $reusable-title-color;
}

.top-container {
  background-color: $reusable-title-color;
}

.top-container, .middle-container, .page-container, .landing-top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: rem-calc(154);
  padding-right: rem-calc(169);

   @media only screen and (max-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.data-details-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

   @media only screen and (max-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.page-top-container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.extra-margin-top {
  margin-top: 70px;
}

.extra-margin-bottom {
  margin-bottom: 40px;
}

.page-container-title {
  color: $reusable-title-color;
}

.landing-top-container {
  background-color: $light-primary-font-color
}

.container-wrapper {
  width: 960px;
  align-self: center;
}

a.link {
  font-family: $secondary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $links-color;

  &:hover {
    color: darken( $links-color, 20% );
  }
}

.reusable-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 0;
}

.reusable-component-left {
  width: 275px;
}

.reusable-component-right {
  width: 625px;
  padding-bottom: 60px;
}

#hazard-datasets, #exposure-datasets, #loss-datasets, #vulnerability-datasets {
  min-height: 200px;
}

table {
  margin-top: 30px;
  margin-bottom: 0!important;
}

.landing-page-component-title {
  font-family: $primary-font;
  font-size: $quaternary-font-size;
  font-weight: $secondary-font-weight;
  color: $reusable-component-title-color;
  line-height: 42px;

  @media only screen and (max-width: 1000px) {
    font-size:1.5em;
  }
}

.title-color {
  color: $reusable-title-color !important;
  margin-top: 30px;
  padding-bottom: 5px;
  font-weight: $secondary-font-weight!important;
}

.primary-divider {
  border-bottom: solid 1px $grey-quaternary-font-color;
}

.padding-bottom {
  padding-bottom: 70px;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-border-bottom {
  border-bottom: none!important;
}

p.no-padding-bottom {
  padding-bottom: 0;
}

p.paragraph-padding-bottom {
  padding-bottom: 1rem;
}

.title-padding-bottom {
  padding-bottom: 5px;
}

div.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.list {
  padding-left: 20px;
  margin-bottom: 0;

  >li {
    padding-bottom: 0.5rem;
  }
}


// landing page only
.landing-page-section-title {
  text-align: right;
}

.landing-page-nav-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: rem-calc(154);
  padding-right: rem-calc(169);

  @media only screen and (max-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.landing-page-header {
  font-family: $primary-font;
  font-size: 15px;
  font-weight: $normal-font-weight;
  color: $light-primary-font-color;
  line-height: 0.93;
}

.landing-page-container {
  margin-bottom: 100px;
}

// schema page, database page & resources page only
.no-margin-top-first-title-color {
  &>p.title-color:first-of-type {
    margin-top: 0;
  }
}

figure {
  display: inline-block;
  font-family: $primary-font;
  font-weight: $secondary-font-weight;
  color: $grey-quinary-font-color;
  margin: 20px; 
}

figure img {
  vertical-align: top;
  max-width: 960px;
}

.image-container {
  margin-top: 65px;
}
