@import "colors";
@import "mixins";
@import "fonts";

// landing page
@import "first-section/main";
@import "documentation/main";
@import "datasets/main";

// homepage
@import "navigation/main";
@import "description/main";
@import "components/main";
@import "component/main";
@import "supporting-organisations/main";

// image - figure
@import "figure/main";

// logos
@import "logos/main";

// schema page
// database, resources & project pages share the same css as schema page
@import "schema-page/main";

// data page
@import "data/main";

// data details page
@import "dataDetails/main";

//footer
@import "footer/main";

// common or reusable css across whole site
body {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0!important;
  font-family: $primary-font;
}

h4, h2 {
  margin-bottom: 0!important;
}

article, section {
  min-height: 100vh;
}

.navbar {
  background-color: $blue-secondary-color;
}

.top-container {
  background-color: $blue-secondary-color;
}

.top-container, .middle-container, .page-container, .landing-top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: rem-calc(154);
  padding-right: rem-calc(169);

   @media only screen and (max-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.data-details-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

   @media only screen and (max-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.page-top-container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.extra-margin-top {
  margin-top: 70px;
}

.extra-margin-bottom {
  margin-bottom: 40px;
}

.page-container-title {
  color: $blue-secondary-color;
}

.landing-top-container {
  background-color: $light-primary-color
}

.container-wrapper {
  width: 960px;
  align-self: center;

  @media only screen and (max-width: 1200px) {
    align-self: flex-start;
  }
}

a.link {
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $blue-primary-color;

  &:hover {
    color: darken( $blue-primary-color, 20% );
  }
}

.reusable-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 0;
}

.reusable-component-left {
  width: 275px;
}

.reusable-component-right {
  width: 625px;
  padding-bottom: 60px;
}

#hazard-datasets, #exposure-datasets, #loss-datasets, #vulnerability-datasets {
  min-height: 200px;
}

table {
  margin-top: 30px;
  margin-bottom: 0!important;
}

.landing-page-component-title {
  font-family: $primary-font;
  font-size: $senary-font-size;
  font-weight: $secondary-font-weight;
  color: $grey-quaternary-color;
  line-height: 42px;

  @media only screen and (max-width: 1000px) {
    font-size:1.5em;
  }
}

.title-color {
  color: $blue-secondary-color !important;
  margin-top: 30px;
  font-weight: $secondary-font-weight!important;
}

.padding-bottom {
  padding-bottom: 70px;
}

.no-padding-top {
  padding-top: 0;
}

.extra-padding-top {
  padding-top: 0.5rem;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-border-bottom {
  border-bottom: none!important;
}

p.no-padding-bottom {
  padding-bottom: 0;
}

p.paragraph-padding-bottom {
  padding-bottom: 1rem;
}

.title-padding-bottom {
  padding-bottom: 5px;
}

div.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.list {
  padding-left: 20px;
  margin-bottom: 0;

  >li {
    padding-bottom: 0.5rem;
  }
}

// Learn more links
.link-container {
  margin-top: 1rem;
}


// landing page only
.landing-page-section-title {
  text-align: right;
}

.landing-page-nav-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: rem-calc(154);
  padding-right: rem-calc(169);

  @media only screen and (max-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.landing-page-header {
  font-family: $primary-font;
  font-size: 15px;
  font-weight: $normal-font-weight;
  color: $light-primary-color;
  line-height: 0.93;
}

.landing-page-container {
  margin-bottom: 100px;
}

// schema page, database page & resources page only
.no-margin-top-first-title-color {
  &>p.title-color:first-of-type {
    margin-top: 0;
  }
}

// masonry-layout
.masonry-layout-item {
  float: left;
  width: 275px;
}

// the section below is to make website readable on mobile view - no responsive design
.navbar, .top-container,.page-top-container,.middle-container, .footer-container {
  min-width: 1200px;
}

.body-container {
  min-height: 100%;
  margin-bottom: -230px;
}

.content-wrap {
  margin-bottom: 230px;
}

footer {
  height: 230px;
}

// hidden components for later use
.hidden {
  display: none;
}