@import "colors";
@import "mixins";
@import "fonts";

// landing page
@import "header/main";
@import "summary/main";
@import "instructions/main";
@import "review-questions/main";
@import "documentation/main";
@import "document/main";
@import "datasets/main";
@import "schemas/main";

// home
@import "navigation/main";
@import "description/main";
@import "purpose/main";
@import "components/main";
@import "component/main";
@import "supporting-organisations/main";

// schema page
// database page share the same css as schema page
@import "schema-page/main";

// data
@import "data/main";

// data details
@import "dataDetails/main";

//footer
@import "footer/main";

body {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0!important;
}

h4 {
  margin-bottom: 0!important;
}

article, section {
  min-height: 100vh;
}

.navbar {
  background-color: $reusable-title-color;
}

.top-container {
  background-color: $reusable-title-color;
}

.top-container, .middle-container, .page-container, .landing-top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: rem-calc(154);
  padding-right: rem-calc(169);

   @media only screen and (max-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.page-top-container {
  padding-top: 60px;
  padding-bottom: 70px;

//   @media only screen and (max-width: 1100px) {
//     padding-right: 50px;
//     padding-left: 50px;
//   }

//  @media only screen and (max-width: 900px) {
//     padding-right: 30px;
//     padding-left: 30px;
//   }
}

.page-container-title {
  color: $reusable-title-color;
}

.landing-top-container {
  background-color: $light-primary-font-color
}

.container-wrapper {
  width: 960px;
  align-self: center;
}

a.link {
  font-family: $secondary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $links-color;

  &:hover {
    color: darken( $links-color, 20% );
  }
}

.reusable-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 0;
}

.reusable-component-left {
  width: 275px;
}

.reusable-component-right {
  width: 625px;
  padding-bottom: 60px;
}

#hazard-datasets, #exposure-datasets, #loss-datasets, #vulnerability-datasets {
  min-height: 200px;
}


table {
  max-width: 1100px;
  @media only screen and (max-width: 1100px) {
    width: 1000px!important;
  }
 @media only screen and (max-width: 900px) {
    width: 800px!important;
  }
}

.landing-page-component-title {
  font-family: $primary-font;
  font-size: $quaternary-font-size;
  font-weight: $secondary-font-weight;
  color: $reusable-component-title-color;
  line-height: 42px;

  @media only screen and (max-width: 1000px) {
    font-size:1.5em;
  }
}

.title-color {
  color: $reusable-title-color !important;
  margin-top: 30px;
  padding-bottom: 5px;
  font-weight: $secondary-font-weight!important;
}

.primary-divider {
  border-bottom: solid 1px $grey-quaternary-font-color;
}

.padding-bottom {
  padding-bottom: 70px;
}

p.no-padding-bottom {
  padding-bottom: 0;
}

p.paragraph-padding-bottom {
  padding-bottom: 1rem;
}

div.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.list {
  padding-left: 20px;
  margin-bottom: 0;
}

.last-section-margin-bottom {
  margin-bottom: 40px;
}