@import "colors";
@import "mixins";
@import "fonts";

// landing page
@import "header/main";
@import "summary/main";
@import "instructions/main";
@import "review-questions/main";
@import "documentation/main";
@import "document/main";
@import "datasets/main";
@import "schemas/main";

// home
@import "navigation/main";
@import "description/main";
@import "purpose/main";
@import "components/main";
@import "component/main";

// data
@import "data/main";

// data details
@import "dataDetails/main";

//footer
@import "footer/main";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

article {
  min-height: 100vh;
}

.navbar {
  background-color: $section-headers;
}

.top-container {
  background-color: $section-headers;
  padding-left: rem-calc(154);
  padding-right: rem-calc(562);

  @media only screen and (max-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.middle-container {
  background-color: $light-grey-background;
  padding-right: rem-calc(169);
  padding-left: rem-calc(154);

  @media only screen and (max-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.page-container {
  padding-right: rem-calc(169);
  padding-left: rem-calc(154);
  margin-top: 91px;

  @media only screen and (max-width: 1100px) {
    padding-right: 50px;
    padding-left: 50px;
  }

 @media only screen and (max-width: 900px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.page-container-title {
  color: $purple-primary-font-color;
  margin-bottom: 57px;
}

.page-container-content>p {
  font-family: $primary-font;
  font-size: $paragraph-font-size;
  font-weight: $normal-font-weight;
  color: $dark-primary-font-color;
}

.landing-top-container {
  background-color: $light-primary-font-color
}

.container-wrapper {
  max-width: 1200px;
}

a.link {
  font-family: $secondary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $purple-secondary-font-color;
}

.reusable-component {
  display: flex;
  flex-direction: row;
  padding-bottom: rem-calc(90);
  justify-content: space-between;
  margin-top: 59px;
  max-width: 1600px;
}

.reusable-component-left {
  width: 275px;
}

.reusable-component-right {
  width: 726px;
}

#hazard-datasets, #exposure-datasets, #loss-datasets, #vulnerability-datasets {
  min-height: 200px;
}


table {
  max-width: 1100px;
  @media only screen and (max-width: 1100px) {
    width: 900px!important;
  }
 @media only screen and (max-width: 900px) {
    width: 700px!important;
  }
}

.landing-page-component-title {
  font-family: $primary-font;
  font-size: $quaternary-font-size;
  font-weight: $secondary-font-weight;
  color: $purple-primary-font-color;
  line-height: 42px;

  @media only screen and (max-width: 1000px) {
    font-size:1.5em;
  }
}