@import "colors";
@import "mixins";
@import "fonts";

// landing page
@import "header/main";
@import "summary/main";
@import "instructions/main";
@import "review-questions/main";
@import "documentation/main";
@import "document/main";
@import "datasets/main";

// main
@import "navigation/main";
@import "description/main";
@import "purpose/main";
@import "components/main";
@import "component/main";

body {
  margin: 0;
  padding: 0;
}

pre {
  white-space: pre-wrap;
}

.navbar {
  background-color: $section-headers;
}

.top-container {
  background-color: $section-headers;
}

.middle-container {
  background-color: $light-grey-background;
  padding-right: rem-calc(169);
  padding-left: rem-calc(154);
}


.landing-top-container {
  background-color: $light--primary-font-color
}

.container-wrapper {
  max-width: 1200px;
}

.page-container {
  padding-right: rem-calc(169);
  padding-left: rem-calc(154);
  margin-top: 91px;
}

.page-container-title {
  font-family: $primary-font;
  font-size: $title-font-size;
  font-weight: $primary-font-weight;
  color: $purple-primary-font-color;
  margin-bottom: 57px;
}

.page-container-content>p {
  font-family: $primary-font;
  font-size: $paragraph-font-size;
  font-weight: $normal-font-weight;
  color: $dark-primary-font-color;
}

