.footer-container {
  background-color: $light-tertiary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 40px;
  padding-bottom: 86px;
  padding-left: rem-calc(154);
  padding-right: rem-calc(169);

  @media only screen and (max-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;

  }
}

.footer-left {
  display: flex;
  flex-direction: column;
  width: 616px;

  a {
    font-family: $primary-font;
    font-size: $primary-font-size;
    font-weight: $normal-font-weight;
    line-height: $primary-line-height;
    color: $blue-primary-color;
    align-self: center;
  }

  p {
    line-height: $primary-line-height;
    font-size: $primary-font-size;
    font-weight: $normal-font-weight;
    color: $grey-tertiary-color;
  }
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-anchor {
  font-family: $primary-font;
  font-size: $secondary-font-size;
  font-weight: $normal-font-weight;
  color: $blue-primary-color;
  line-height: 61px;
  width: 361px;
  border: solid 1px $blue-primary-color;
  align-self: center;
  text-align: center;

  @media only screen and (max-width: 900px) {
    width: 250px;
  }

  &:hover {
    color: darken( $blue-primary-color, 20% );
  }
}