.footer-container {
  height: 161px;
  background-color: $footer-background;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 50px 142px 50px 154px;

  @media only screen and (max-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.footer-left {
  display: flex;
  flex-direction: column;

  a {
    font-family: $secondary-font;
    font-size: $primary-font-size;
    font-weight: $normal-font-weight;
    line-height: 1.39;
    color: $links-color;
    align-self: center;
  }

  p {
    margin-bottom: 5px;
    font-family: $secondary-font;
    font-size: $primary-font-size;
    font-weight: $normal-font-weight;
    color: $grey-quinary-font-color;
  }

}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-anchor {
  font-family: $secondary-font;
  font-size: $secondary-font-size;
  font-weight: $normal-font-weight;
  color: $links-color;
  line-height: 61px;
  width: 361px;
  border: solid 1px $links-color;
  align-self: center;
  text-align: center;

  @media only screen and (max-width: 900px) {
    width: 250px;
  }

  &:hover {
    color: darken( $links-color, 20% );
  }
}