.individual-organisation {
    margin-bottom: 30px;
}

.individual-organisation:last-of-type {
    margin-bottom: 40px;
  }

.individual-organisation-link {
    padding-bottom: 10px;
}

.no-padding-top {
    padding-top: 0 !important;
}