.individual-organisation {
    margin-bottom: 30px;
}

.individual-organisation:last-of-type {
    margin-bottom: 40px;
  }

.individual-organisation-link {
    padding-bottom: 10px;
}

.supporting-organisations .reusable-component-right {
    padding-bottom: 0!important;
}

.supporting-organisations .components-subtitle {
    padding-bottom: 0!important;
}

.individual-organisation:first-child {
  >.title-color {
    margin-top: 0!important;
  }
}

