.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: rem-calc(20 26 22 38);
}

.navigation-left {
  font-family: $primary-font;
  font-size: $primary-font-size;
  color: $light-font-color;
}