.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: rem-calc(20 26 22 38);
}

.navigation-left {
  font-family: $primary-font;
  font-size: $secondary-font-size;
  color: $light-font-color;
}

.navigation-right a {
  font-family: $primary-font;
  opacity: $primary-opacity;
  color: $light-font-color;
  font-size:$primary-font-size;
  &:not(:last-child){
    padding-right: rem-calc(34);
  }
}