.navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: rem-calc(154);
  padding-right: rem-calc(169);

  @media only screen and (max-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.navigation div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navigation-left a {
  font-family: $primary-font;
  font-size: $primary-font-size;
  color: $light-primary-color;
  opacity: 1;

  &:hover {
    color: darken( $light-primary-color, 20% );
  }
}

.navigation-right a {
  font-family: $primary-font;
  opacity: $secondary-opacity;
  color: $light-primary-color;
  font-size:$primary-font-size;
  &:not(:last-child){
    padding-right: 60px;
  }
  &:hover {
    color: darken( $light-primary-color, 20% );
  }
}

a.selected-tab {
  opacity: $primary-opacity;
  font-weight: $secondary-font-weight;
}