.review-questions {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 49px;
  justify-content: space-between;
  max-width: 1600px;
  border-top: solid 1px $grey-quaternary-font-color;
}

.review-questions-left {
  width: 275px;
}

.review-questions-right {
  width: 726px;
}

.review-questions-paragraph, .review-questions-list {
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $grey-primary-font-color;
}

.review-questions-list {
  list-style-type: square;
}

.review-questions-list li {
   padding: 10px 40px;
}

.review-questions-link {
  font-family: $secondary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $purple-secondary-font-color;
  margin-top: 42px;
}