.document-title {
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: $secondary-font-weight;
  color: $dark-primary-font-color;
}

.document-description {
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $grey-primary-font-color;
  margin-bottom: 0;
}

.document-link {
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $links;
}