<div class="component-individual reusable-component">
  <div class="reusable-component-left">
    <h4 class="component-individual-title reusable-title title-padding-bottom landing-page-section-title">
      Documentation
    </h4>
  </div>
  <div class="reusable-component-right component-individual-right documentation-link-container no-padding-bottom no-border-bottom">
    <a href="assets/docs/schema-documentation.pdf" class="link" download target="_blank">
      Download schema documentation
    </a>
    <a href="assets/docs/database-documentation.pdf" class="link" download target="_blank">
      Download database documentation
    </a>
  </div>
</div>