<div class="component-individual reusable-component">
  <div class="reusable-component-left">
    <h4 class="component-individual-title reusable-title title-padding-bottom landing-page-section-title">
      Documentation
    </h4>
  </div>
  <div class="reusable-component-right component-individual-right documentation-link-container no-padding-bottom no-border-bottom">
    <a href="assets/docs/TechnicalOverview_GFDRR_RiskDataSchema_June2020.pdf" class="link" download target="_blank">
      Download schema technical overview
    </a>
  </div>
</div>
