<div class="first-section-container">
<div class="component-individual reusable-component">
  <div class="reusable-component-left">
    <h4 class="component-individual-title reusable-title title-padding-bottom landing-page-section-title">
      Welcome
    </h4>
  </div>
  <div class="reusable-component-right component-individual-right no-padding-bottom no-border-bottom">
    <div class="reusable-content no-margin-bottom">
      Thank you again for participating in this review. Your professional experience and insight is invaluable, and we appreciate you contributing it to this project.
    </div>
  </div>
</div>

<div class="component-individual reusable-component">
  <div class="reusable-component-left">
    <h4 class="component-individual-title reusable-title title-padding-bottom landing-page-section-title">
      The project
    </h4>
  </div>
  <div class="reusable-component-right component-individual-right no-padding-bottom no-border-bottom">
    <div class="reusable-content no-margin-bottom">
      The goal of the project is to make risk data significantly easier to work with so that risk assessments can be performed faster, more affordably and more frequently. To do that, we are developing a series of tools and resources designed explicitly for disaster risk assessment and the people who perform them. The first two components have been developed: the risk-data schema and accompanying database.
    </div>
  </div>
</div>

<div class="component-individual reusable-component">
  <div class="reusable-component-left">
    <h4 class="component-individual-title reusable-title title-padding-bottom landing-page-section-title">
      The schema
    </h4>
  </div>
  <div class="reusable-component-right component-individual-right no-padding-bottom no-border-bottom">
    <div class="reusable-content no-margin-bottom">
      <p class="paragraph-padding-bottom">
        The risk data schema is simply a language for describing risk data—hazard, exposure, vulnerability and modelled loss—in a consistent, accessible manner. Datasets formatted using the schema are both machine and human readable, and highly interoperable. The schema covers critical metadata that risk experts need to identify datasets contents, storing this within the datasets themselves where it cannot become separated.
      </p>
      <p>
        The value of the schema grows with each dataset it is applied to. Widespread use is critical. The broad plan is to build support for the schema within the risk community; then use that support to encourage the official adoption of the schema by one or more leading funders of new risk data such as The World Bank. This will result in a rapid expansion of the number of schema-formatted datasets available to the risk community.
      </p>
    </div>
  </div>
</div>

<div class="component-individual reusable-component">
  <div class="reusable-component-left">
    <h4 class="component-individual-title reusable-title title-padding-bottom landing-page-section-title">
      The database
    </h4>
  </div>
  <div class="reusable-component-right component-individual-right no-padding-bottom no-border-bottom">
    <div class="reusable-content no-margin-bottom">
      <p class="paragraph-padding-bottom">
        The risk database has been developed to meet the need to better share data developed in risk assessments. The database was developed to address the challenges of storing and sharing risk data. Its architecture stores hazard, exposure, vulnerability and modeled loss datasets in the same environment, keeping data from the same analysis connected. Teams and organisations will no longer need to store different types of risk data on separate databases, making it easier to locate for use in assessments.
      </p>
      <p>
        API access is supported, making it easier to share risk datasets and laying the foundation for a network of databases that are able to be accessed via a single search.
      </p>
    </div>
  </div>
</div>

<div class="component-individual reusable-component">
  <div class="reusable-component-left">
    <h4 class="component-individual-title reusable-title title-padding-bottom landing-page-section-title">
      The database
    </h4>
  </div>
  <div class="reusable-component-right component-individual-right no-padding-bottom no-border-bottom">
    <div class="reusable-content no-margin-bottom">
      <p class="paragraph-padding-bottom">
        We have invited a small group of data and risk specialists such as yourself to look over these components prior to public release. There are three things we are hoping to achieve with this:
      </p>
      <ul class="list first-section-numeric-list first-section-line-height">
        <li>
          Flag any critical issues that would mean either component is not yet ready for public release
        </li>
        <li>
          Better understand the range of application and potential audiences for each component
        </li>
        <li>
          Identify immediate and longer-term improvements
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="component-individual reusable-component">
  <div class="reusable-component-left">
    <h4 class="component-individual-title reusable-title title-padding-bottom landing-page-section-title">
      Instructions
    </h4>
  </div>
  <div class="reusable-component-right component-individual-right no-padding-bottom no-border-bottom">
    <div class="reusable-content no-margin-bottom">
      <ul class="list first-section-numeric-list first-section-line-height">
        <li>
          Read the feedback guidelines
        </li>
        <li>
          Review the documentation and one or more datasets from each category (links below)
        </li>
        <li>
          Send your feedback to sfraser@worldbank.org
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="component-individual reusable-component">
  <div class="reusable-component-left">
    <h4 class="component-individual-title reusable-title title-padding-bottom landing-page-section-title">
      Deadline
    </h4>
  </div>
  <div class="reusable-component-right component-individual-right no-padding-bottom no-border-bottom">
    <div class="reusable-content no-margin-bottom">
      <p class="paragraph-padding-bottom">
        We would like to launch the components as quickly as possible, so the sooner you are able to send through your feedback, the better. We will be closing the review on <span class="first-section-bold-text">Friday, 26 June</span>.
      </p>
      <p>
        Having said that, your thoughts and suggestions will always be welcome.
      </p>
    </div>
  </div>
</div>


<div class="component-individual reusable-component">
  <div class="reusable-component-left">
    <h4 class="component-individual-title reusable-title title-padding-bottom landing-page-section-title">
      Feedback requested
    </h4>
  </div>
  <div class="reusable-component-right component-individual-right no-padding-bottom no-border-bottom">
    <div class="reusable-content no-margin-bottom">
      <p>
        We are looking for your insights and suggestions on the following points:
      </p>
      <p class="title-color">
        The database
      </p>
      <ul class="list first-section-line-height">
        <li>
          How well the current structure is likely to meet the data storage needs of projects and organisations in the risk community, particularly those related to performing risk assessments.
        </li>
        <li>
          Any reasons the current database design might become unstable or be otherwise ineffective over time or when dealing with large numbers of datasets and/or users.
        </li>
        <li>
          Ways the current structure could be improved to make the database more efficient, or how it might be adapted to other roles within the risk community.
        </li>
        <li>
          Which data-export formats would best meet the needs of the risk community.
        </li>
      </ul>
      <p class="title-color">
        The schema
      </p>
      <ul class="list first-section-line-height">
        <li>
          How well the current schema describes the four types of risk data.
        </li>
        <li>
          How well the current schema supports the information needs of risk assessments. Particularly whether it describes an appropriate range of metadata to enable risk experts to identify the datasets they need for a particular disaster risk
          assessment.
        </li>
        <li>
          Any critical information that is not currently described in the schema, or any surplus information that could be removed without compromising the utility of the schema.
        </li>
        <li>
          How understandable the current schema is and anything that might make it easier for risk experts to understand it without having to rely on external legends or guides.
        </li>
      </ul>
      <p class="title-color">
        Application and adoption
      </p>
      <ul class="list first-section-line-height">
        <li>
          Application and adoption
        </li>
        <li>
          What value you see the database and schema the database and schema might have for the risk community.
        </li>
        <li>
          The types of roles, projects or organisations that would benefit the most from using them.
        </li>
        <li>
          Anything that would make it easier for a risk expert to begin working with the schema and database.
        </li>
        <li>
          Any critical issues that would mean either component is not ready to be publicly released.
        </li>
        <li>
          What would encourage or discourage people to apply the schema to newly created data.
        </li>
        <li>
          Obstacles to widespread use, particularly any aspects of the schema or database themselves.
        </li>
        <li>
          Any individuals, teams or organisations who would be interested in the schema and/or database.
        </li>
        <li>
          How you would describe the schema and the database to a colleague.
        </li>
      </ul>
    </div>
  </div>
</div>
</div>