<div class="instructions">
  <div class="instructions-left">
    <h3 class="instructions-title">Instructions</h3>
  </div>
  <div class="instructions-right">
    <p class="instructions-paragraph">
      A simple set of instructions to guide the review process. Dummy text is text that is used in the publishing industry or
      by web designers to occupy the space which will later be replaced with real content.
    </p>
    <ul class="instructions-list">
      <li>
        Simple direction. Inline links act as shortcuts to sections below. Dummy text is
      </li>
      <li>
        The space which will later replaced with real content. This is required when the
      </li>
      <li>
        Feedback to <a href="mailto:email@emailaddress.org" class="instructions-link">email@emailaddress.org</a>
      </li>
    </ul>
  </div>
</div>