<div class="review-questions">
  <div class="review-questions-left">
    <h3 class="landing-page-component-title">Review questions</h3>
  </div>
  <div class="review-questions-right">
    <p class="review-questions-paragraph">
      Short overview of the current documentation. Dummy text is text that is used in the publishing industry or by web designers to occupy. It is said that song composers of the past used dummy texts.
    </p>
    <ul class="review-questions-list">
      <li>
        Alternatively referred to as dummy text, placeholder text is text that temporarily holds a place in a document.
      </li>
      <li>
        For the purpose of typesetting and layout. It may be used to preview fonts, spoof an e-mail spam, or reserve a specific place on a web page.
      </li>
      <li>
        Or other document for images, text, or some other object. For example, the designer of an online newsletter may ˜ll a template with dummy text to approximate the ˜nal layout.
      </li>
    </ul>
    <p class="review-questions-paragraph">
      Some reviewers are given specialist questions. This is a prompt to remind them to check the original email.
    </p>
  </div>
</div>