h1.dataDetails-title {
  font-family: $primary-font;
  font-size: 26px;
  font-weight: $secondary-font-weight;
  color: $blue-secondary-color;
  margin-bottom: 0;
}

.dataDetails-link-container {
  margin-top: 30px;
  margin-bottom: 60px;
  flex-direction: row;
}

.dataDetails-link-sub-container {
  width: 160px;
  height: 40px;
  padding-top: 5px;
  border: solid 1px $blue-primary-color;
  text-align: center;
  align-items: center;
  justify-content: center;
  display:inline-block;
}

.dataDetails-project {
  font-family: $primary-font;
  font-size: $tertiary-font-size;
  font-weight: $normal-font-weight;
  color: $dark-primary-color;
  margin-bottom: 40px;
  margin-top: 30px;
}

.dataDetails-content {
  margin-bottom: 60px;
}

.dataDetails-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: solid 1px rgba(151, 151, 151, 0.3);
  padding: 15px 0;
}

.dataDetails-list-left {
  width: 275px;
}

.dataDetails-list-right {
  margin-left: 60px;
  width: 625px;
  word-break: break-word;
  word-wrap: break-word;
}

.dataDetails-download-link {
  align-self: center;
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $blue-primary-color;

  &:hover {
    color: darken( $blue-primary-color, 20% );
  }
}