.component-individual:not(:last-child) {
  >.component-individual-right {
    border-bottom: solid 1px $grey-quaternary-font-color;
  }
}

.component-individual-title {
  font-weight: $secondary-font-weight;
}

.component-individual-paragraph {
  font-family: $secondary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $grey-primary-font-color;
}

.title-padding-bottom {
  padding-bottom: 5px;
}