.components {
  padding-top: rem-calc(80);
  padding-right: rem-calc(169);
  padding-left: rem-calc(154);
}

.components-title {
  font-family: $primary-font;
  font-size: $quinary-font-size;
  font-weight: $tertiary-font-weight;
  color: $dark-primary-font-color;
}

.components-sub-title {
  margin-top: 36px;
  font-family: $secondary-font;
  font-size: $tertiary-font-size;
  font-weight: $normal-font-weight;
  color: $dark-secondary-font-color;
}