.components {
  padding-top: rem-calc(80);
}

.components-title {
  font-size: rem-calc(25);
  color: $dark-primary-font-color;
}

.components-subtitle {
  margin-top: 36px;
  margin-bottom: 64px;
}




