---
layout: default
---

<div class="page-top-container page-container primary-divider">
  <div class="container-wrapper">
    <header>
      <h1 class="page-container-title main-title">{{ page.title }}</h1>
      <p class="reusable-component-right no-padding-bottom">{{ page.description }}</p>
    </header>
  </div>
</div>

<div class="page-container">
  <div class="container-wrapper">
    <section>
      <div class="page-container-content">
        {{content }}
      </div>
    </section>
  </div>
</div>
