<div class="component-individual reusable-component">
  <div class="reusable-component-left">
    <h4 class="component-individual-title reusable-title title-padding-bottom reusable-font-semi-bold">{{ component.name }}</h4>
    <p class="reusable-subtitle reusable-font-regular">{{ component.subtitle }}</p>
  </div>
  <div class="reusable-component-right component-individual-right">
    <div class="reusable-content extra-padding-top reusable-font-regular">{{ component.content }}</div>
    <a href="{{ component.link }}" class="link">{{ component.anchor }}</a>
  </div>
</div>