<div class="components">
  <h3 class="components-title subtitle">A system for better managing risk data</h3>
  <p class="subtitle-description">
    We seek to create a collection of components to make working with risk data easier, each one addressing a different underlying problem. Working together, these components create an effective library system designed explicitly for storing, finding, editing and exchanging data for disaster risk assessments.

    The first of these two components are now available.
  </p>
</div>
