<div class="purpose reusable-component">
  <div class="reusable-component-left">
    <h4 class="purpose-title reusable-title">The problem with risk data</h4>
    <p class="reusable-subtitle"> </p>
  </div>
  <div class="reusable-component-right">
    <p class="reusable-content">
      While data is becoming easier to generate than ever, finding and preparing it for disaster-risk assessments is increasingly difficult and time consuming. This project aims to change that by making risk data easier to store, find, edit and share.
    </p>
    <a href="/project" class="purpose-link link">Learn more about the project →</a>
  </div>
</div>
