<div class="purpose reusable-component">
  <div class="reusable-component-left">
    <h4 class="purpose-title reusable-title">The purpose</h4>
    <p class="reusable-subtitle">Better data management for disaster risk assessments</p>
  </div>
  <div class="reusable-component-right">
    <p class="reusable-content">
      Introducing Dummy text from here. To frequency some creating who explain they'd makes deep to it find upon mind to and made dense, divine and in someone harmonics. Problem in if answer folks the if furnished the stupid an interesting.
    </p>
    <a href="/project" class="purpose-link link">Learn more about the project →</a>
  </div>
</div>