<div class="purpose reusable-component">
  <div class="reusable-component-left">
    <h4 class="purpose-title reusable-title">The purpose</h4>
    <p class="reusable-subtitle">Better data management for disaster risk assessments</p>
  </div>
  <div class="reusable-component-right">
    <p class="reusable-content">
      If you are a disaster risk analyst, you know how much time it takes to find and prepare the data you need. The risk-data library is working to change that.
    </p>
    <a href="/project" class="purpose-link link">Learn more about the project →</a>
  </div>
</div>