<div class="components supporting-organisations">
    <h3 class="components-title subtitle">
      Sponsor and partner organisations
    </h3>
  <div class="reusable-component-right">
    <p class="subtitle-description">
      The RDL project is the result of the collective effort and ongoing support of the following teams and institutions. 
    </p>
  </div>
</div>

<div class="component-individual reusable-component">
  <div class="reusable-component-left">
  </div>
  <div class="reusable-component-right">
    <div class="reusable-content">
      
      <div class="individual-organisation">
        <p class="title-color">
          Global Facility for Disaster Reduction and Recovery
        </p>
        <p class="individual-organisation-link">
          GFDRR implemented the Challenge Fund and development of the Risk Data Library
        </p>
        <a class="link" target="_blank" href="https://www.gfdrr.org/en">GFDRR</a>
      </div>
        
      <div class="individual-organisation">
        <p class="title-color">
          UK Department for International Development
        </p>
        <p class="individual-organisation-link">
          DFID funded the Challenge Fund
        </p>
        <a class="link" target="_blank" href="https://www.gov.uk/government/organisations/department-for-international-development">DFID</a>
      </div>

      <div class="individual-organisation">
        <p class="title-color">
          The Challenge Fund
        </p>
        <p class="individual-organisation-link">
          
        </p>
        <a class="link" target="_blank" href="https://www.gfdrr.org/en/challenge-fund">Challenge Fund</a>
      </div>
        
      <div class="individual-organisation">
        <p class="title-color">
          Global Earthquake Model
        </p>
        <p class="individual-organisation-link">
          GEM led the consortium developing the exposure data schema and participated in hazard and vulnerability schema development. GEM subsequently
            developed the hazard data schema and created the unified database.
        </p>
        <a class="link" target="_blank" href="https://www.globalquakemodel.org/">GEM</a>
      </div>
        
      <div class="individual-organisation">
        <p class="title-color">
          EPICentre, University College London
        </p>
        <p class="individual-organisation-link">
          EPICentre developed the vulnerability schema.
        </p>
        <a class="link" target="_blank" href="https://www.ucl.ac.uk/epicentre">EPICentre</a>
      </div>
        
      <div class="individual-organisation">
        <p class="title-color">
          British Geological Survey
        </p>
          BGS led the consortium who developed the hazard schema.
        <p class="individual-organisation-link">
        </p>
        <a class="link" target="_blank" href="https://www.bgs.ac.uk">BGS</a>
      </div>
      
      <div class="individual-organisation">
        <p class="title-color">
          Collaborating Partners
        </p>
        <p class="individual-organisation-link">
          Collaborating partners in the first phase of schema development also included HOTOSM, ImageCat, Norwegian Geotechnical Institute, NERC National Oceanographic Centre, CIMA Foundation, Earth Observatory Singapore, Global Volcano Model, Global Flood Partnership.
        </p>
      </div>
    </div>
  </div>
</div>
