<div class="components supporting-organisations">
    <h3 class="components-title subtitle">
      Developed by risk data experts
    </h3>
  <div class="reusable-component-right">
    <p class="subtitle-description">
      The RDL project is the result of the collective effort and ongoing support of internationally-recognised research insitutions and established global partnerships with combined expertise across multiple hazards and 
      all aspects of risk assessment. The partners have a complete understanding of the challenges risk analysts face in finding, editing and exchanging data for disaster risk assessments, for various scales and contexts.
    </p>
    <div class="link-container ">
      <a href="/project" class="link">Learn more about the partners</a>
    </div>
      
    <div class="link-container ">
      <a href="" class="link"></a>
    </div>
      
    <div class="link-container ">
      <a href="" class="link"></a>
    </div>

  </div>
   
</div>


