table {
  margin-top: 30px;
  margin-bottom: 0!important;
}

#hazard-datasets, #exposure-datasets, #loss-datasets, #vulnerability-datasets {
  min-height: 200px;
}

.datasets-list {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
}

.datasets-dataset-title {
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: $secondary-font-weight;
  color: $grey-tertiary-color;
  line-height: $primary-line-height;
  padding-bottom: 5px;
}

.datasets-dataset-content {
  font-family: $primary-font;
  font-size: $primary-font-size;
  font-weight: $normal-font-weight;
  color: $grey-tertiary-color;
  line-height: $primary-line-height;
}

.datasets-link-container {
  margin-top: 10px;
  margin-bottom: 30px;
}

#samples_hazard > li:last-of-type {
  div.datasets-link-container {
    margin-bottom: 0;
  }
}

#samples_exposure > li:last-of-type {
  div.datasets-link-container {
    margin-bottom: 0;
  }
}

#samples_vulnerability > li:last-of-type {
  div.datasets-link-container {
    margin-bottom: 0;
  }
}

#samples_loss > li:last-of-type {
  div.datasets-link-container {
    margin-bottom: 0;
  }
}

#samples_hazard, #samples_exposure, #samples_vulnerability, #samples_loss {
  min-height: 100px;
}