.purpose {
  display: flex;
  flex-direction: row;
  padding-top: rem-calc(96);
  padding-bottom: rem-calc(90);
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 0 0 0;
}

.purpose-left {
  width: 275px;
}

.purpose-right {
  margin-top: rem-calc(21);
  width: 726px;
}

.purpose-title {
  font-weight: bold;
  color: $purple-primary-font-color;
}

.purpose-link {
  margin-top: 42px;
}